<h1><%= "#{@lift.class} training max: #{@lift.weight}" %></h1>
<table>
  <thead>
  <tr>
    <th>Week</th>
    <th>Set</th>
    <th>Weight</th>
  </tr>
  </thead>
  <tbody>
  <% (1..3).each do |week| %>
    <% (1..3).each do |set| %>
      <tr>
        <td><%= week %></td>
        <td><%= set %></td>
        <td><%= @lift.send("week#{week}".to_sym)["set#{set}".to_sym] %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <tr/>
  <% end %>
  </tbody>
</table>